<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Example Business System</title>

    <!-- Bootstrap -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
   
   
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"> </script> 
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


	<div class = "container"> 
	<div class="page-header">
        
        <h1>Online Marketplace</h1>
 <!--        <p class="lead">Basic grid layouts to get you familiar with building within the Bootstrap grid system.</p> -->
        <h3>Would you like to renew?</h3>
        <p>Echo of the POST body triggered by the renewal call out </p>
        <div class="row">
        	<div class= "col-md-6">
        		<table class="table table-striped">
		            <thead>
		              <tr>
		                <th>Total Quantity</th>
		                <th>Days Remaining</th>
		                <th>Expiration Date</th>		               
		                <th>Product</th>
		                <th>Type</th>
		                <th>Organization</th>
		                <th>ActivationID </th>
		              </tr>
		            </thead>
		            <tbody>
			              <div id="insert_rows">
			              {% for renewal_item in param%}
			              <tr>
			                <td> {{renewal_item.TotalQuantity}} </td>
			                <td> {{renewal_item.RemainingDays}}</td>
			                <td> {{renewal_item.ExpirationDate}}</td>
			                <td> {{renewal_item.Product}} </td>
			                <td> {{renewal_item.Type}}</td>
			                <td> {{renewal_item.SoldTo}}</td>
			                <td> {{renewal_item.ActivationID}}</td>
			              </tr>

			              {% endfor %}
<!-- 			              <tr>
			                <td>1</td>
			                <td>Mark</td>
			                <td>Otto</td>
			              </tr>
			              <tr>
			                <td>2</td>
			                <td>Jacob</td>
			                <td>Thornton</td>
			                
			              </tr>
			              <tr>
			                <td>3</td>
			                <td>Larry</td>
			                <td>the Bird</td>
			              </tr> -->
			              </div>
		            </tbody>
		          </table>
        	</div>

        </div>
        	


	</div>

	   <script type="text/javascript">
  			$(document).ready(function(){
			var parameters = {{param|tojson}}; 
			var html_string = "<tr>";
			var param_key, param_value;
			var console_stuff = parameters
			//console.log("???????????",console_stuff);

			for (key=0; key < Object.keys(parameters).length; key++){
				
				html_string = "<tr>";
				html_string.concat("<td>"+ key+"/td>");

				param_key = Object.keys(parameters)[key];
				html_string.concat("<td>"+param_key+"/td>");
				
				param_value = Object.values(parameters)[key];
				html_string.concat("<td>"+param_value+"/td>");
				html_string.concat("</tr>")
				console.log("key "+ param_key+ " value " +param_value);
				$('#table tbody').append(html_string);

			}
			});
		</script>

      </div>



	
  </body>


</html>



















